<h2>Réclamation</h2>
<h3><%= @post.title %> </h3>
<h5>Description : </h5>
<p><%= @post.description %></p>
<p>Auteur : <%= @post.user.email %></p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', root_path %>
